.calendar-container {
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
  gap: 5px;
}

.calendar-day {
  border: 3px solid #f5f5f5;
  border-radius: 5px;
  text-align: center;
  padding: 5px 0;
}

.calendar-day h1 {
  margin: 0;
  font-size: 1em;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-date,
.calendar-today {
  padding: 15px;
  border: 3px solid #f5f5f5;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  text-align: left; 
  position: relative;
}

.calendar-date h1,
.calendar-today h1 {
  margin: 0;
  font-size: 1em;
  position: absolute; 
  top: 5px; 
  left: 5px;
}

.calendar-date:hover,
.calendar-today:hover {
  background-color: bisque;
}

.calendar-today {
  color: indianred;
}

.calendar-other-month {
  color: darkgray;
}

.calendar-date:has(.calendar-other-month) {
  pointer-events: none;
}
